@import url('https://fonts.googleapis.com/css2?family=Exo&family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

#logo {
    height: 150px;
    width: 150px;
    float: left;

}

body {
    font-family: Exo;
    color: #777777;
}

h2 {
    font-family: Roboto;
    color: blue;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;

}

#menu li {
    float: right;
    margin-right: 30px;

}

#logo,
#menu {
    line-height: 75px;
}