@import url('https://fonts.googleapis.com/css2?family=Exo&family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

#logo {
    padding: 0px;
    margin: 0px;
    width: 150px;
    height: 100px;
    float: left;
    display: inline-block;
}

body {
    font-family: Exo;
    color: #777777;
}

h2 {
    font-family: Roboto;
    color: blue;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;

}

#menu li {
    float: right;
    margin-right: 30px;

}

#logo,
#menu {
    line-height: 75px;
}

#HeroImage {
    height: 600px;
    width: 100%;
    background-image: url("https://image.freepik.com/free-photo/strong-wet-woman-posing-during-jump_7502-7078.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}